li {
  list-style: none;
  background-color: blue;
  cursor: pointer;
  width: 120px;
  height: 120px;
  color: white;
  margin-top: 15px;
}
.house {
  margin: 5px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.houses {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.houses-heading {
  text-align: center;
}
