header {
  width: 10%;
  background-color: blue;
  height: 820px;
}
main {
  width: 90%;
  text-align: center;
}
nav li {
  padding: 15px;
  list-style: none;
  cursor: pointer;
  color: white;
}
.flex {
  display: flex;
}

.last {
  margin-top: 460px;
}
